{% extends 'AdminBundle::layout.html.twig' %}

{% block currentItem %}taxonomies{% endblock %}
{% block content %}
    <div class="content--container">
        <div class="container--white">
            <div class="action-list">
                <a class="btn btn-default" href="{{ url('admin.taxonomies.new_category') }}"><i class="fa fa-plus"></i> New Taxonomy</a>
            </div>
            <br/>
            {% if taxonomyCategoryList|length == 0 %}
                <div class="alert alert-info">No Taxonomies added.</div>
            {% else %}
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxonomy in taxonomyCategoryList %}
                            <tr>
                                <td class="taxonomy-category-name">
                                    <i class="fa fa-{{ taxonomy.icon }}"></i>
                                    <strong>{{ taxonomy.label }}</strong> ({{ taxonomy.slug }})<br/>
                                    <small>(custom fields: <strong>{{ taxonomy.fields|length }}</strong>)</small>
                                </td>
                                <td class="text-right">
                                    <a href="{{ url('admin.taxonomies.edit_category', {'id': taxonomy.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> Edit</a>
                                    <a href="{{ url('admin.taxonomies.fields_category', {'id': taxonomy.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-steam"></i> Custom Field management</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
